include ../componets/input/input
include ../componets/headline/headline
include ../componets/radio-buttons/radio-buttons
include ../componets/dropdown/dropdown
include ../componets/toggle-button/toggle-button
include ../componets/checkbox-buttons/checkbox-buttons
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI Kit
    link(rel="stylesheet", href="ui-kit.css")
  body
    main(class="main")
      div.column
        +input('email')
        +input('text')
        +guestsDropdown('guests', 'guests')
      div.column 
        +h1('This is the main widget title')
        +h2('This is an item title')
        +h3('This is a label')
        +body('This is the body text which is used for most of the design, like paragraphs, lists, etc.')
        form
          .radio-container
            +radioButton('gender', 'male', 'Мужчина')
            +radioButton('gender', 'female', 'Женщина')
        +toggleButton('offers1', 'toggle1', 'Получать спецпредложения')
        +checkbox('Можно курить', 'smoking') 
        +checkbox('Можно с питомцами', 'pets') 
        +checkbox('Можно пригласить гостей (до 10 человек)', 'guest')
      div.column