.title__h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--dark-shade-1);
}

.title__h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: var(--dark-shade-1);
}

.title__h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 14.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: var(--dark-shade-1);
}