link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
mixin h1(text)
  h1.widget-title= text

mixin h2(text)
  h2.item-title= text

mixin h3(text)
  h3.label= text

mixin body(text)
  body.body-text= text    